.wrapper {
    padding: 0 1rem; // mobile default
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      padding: 0 4rem; // desktop padding
      max-width: 900px;
      margin: 0 auto;
    }
  
    .header {
      display: flex;
      justify-content: space-between;
    }
  }

