@use '../styles/variables' as *;

.forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid $color-border;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: $font-family;
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1.8s ease, opacity 0.6s ease;
    box-sizing: border-box;
    
    &.visible {
        max-height: 2000px;
        opacity: 1;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #333;
    }
}
.forecastCards {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    overflow-x: auto;
    padding: 0 1rem;
    padding-bottom: 1rem;
    
    -webkit-overflow-scrolling: touch; // para iOS

    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.2);
        border-radius: 3px;
    }

    @media screen and (min-width: 400x) {
        flex-wrap: wrap;
        overflow-x: visible;
    }
}


.card {
    flex: 0 0 auto;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid $color-border;
    padding: 1rem;
    width: 120px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
        width: 50px;
        height: 50px;
    }

    p {
        margin: 0.3rem 0;
        font-size: 0.9rem;
        color: #333;
    }
}



.initialScreen,
.loadingScreen {
    min-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid $color-border;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: $font-family;
    padding-bottom: 1rem;
}
