@use 'sass:color';
@use '../styles/variables' as *;

.historyContainer {
  background: $color-background;

  border-radius: $border-radius;
  border: 1px solid $color-border;
  width: 100%;
  box-shadow: $shadow;
  font-family: $font-family;
  box-sizing: border-box;

  padding: 1.5rem;
 

  .title {
    display: flex;
    gap: 0.5rem;

    svg {
      padding-bottom: 4px;
      font-size: 1.1rem;
    }

    h3 {
      margin: 0;
    }
  }
}

.historyList {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.historyItem {
  background-color: $color-background;
  color: $color-text-primary;
  border: 1px solid $color-border;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  &:hover {
    background-color: $color-light-grey;
    border-color: color.adjust($color-border, $lightness: -10%)
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba($color-blue, 0.3);
  }

  span {
    font-size: 0.7rem;
    color: $color-heavy-grey;
    font-weight: 500;
  }
}

.clearButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: $color-red;
  cursor: pointer;
  font-size: 0.9rem;
}

.clearButton:hover {
  text-decoration: underline;
}

.clearContainer {
  display: flex;
  margin-top: 2rem;
}

.deleteIcon {
  margin-right: 1rem;
}