// src/styles/_variables.scss

// Grises
$color-background: #ffffff;
$color-light-grey: #f1f1f3;
$color-medium-grey: #c4c8ce;
$color-heavy-grey: #838289;
$color-text-grey: #7c7c8a;
$color-blue: #1279ff;
$color-red: #e05a71;

$color-border: #e0e0e0;
$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-placeholder: #6b6b74;

// Principal
$color-primary: #ff4d4f; // Rojo principal para alertas e íconos destacados

// Azul (links, íconos informativos)
$color-info: #3498db;

// Extras
$font-family: 'Arial', sans-serif;
$border-radius: 8px;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
